.movie-details {
  background-color: #161b22; /* Darker background for detail view */
  padding: 50px;
  margin: 0px;
  border-radius: 8px;
  border: 1px solid #30363d; /* Subtle border color */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Subtle shadow for depth */
  color: #c9d1d9; /* Light grey text for readability */
  width: 1000; /* Adjust width to content */
  max-width: auto; /* Maximum width for large screens */
  align-self: center; /* Center in the available space */
}

.movie-details h2 {
  color: #58a6ff; /* Bright accent color for titles */
  margin-top: 35px;
}

.movie-details p {
  color: #c9d1d9; /* Light text color for paragraphs */
  margin-top: 10px ;
}
