.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-bar {
  width: 275px;
  padding: 8px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Light background for visibility */
}

.search-button {
  padding: 8px 15px; /* Adjusted for uniformity */
  margin-left: 8px;
  background-color: #007bff; /* Bright accent color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.search-button:hover {
  background-color: #0056b3;
}
