name: Database Connectivity Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  database-connectivity:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11.4"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Decode SSL Certificate
        run: |
          mkdir -p certificates
          echo "${{ secrets.ca }}" | base64 -d > ./certificates/DigiCertGlobalRootCA.crt.pem
          echo "ca=./certificates/DigiCertGlobalRootCA.crt.pem" >> $GITHUB_ENV
        

      - name: Set Database Environment Variables
        run: |
          echo "USER=${{ secrets.USER }}" >> $GITHUB_ENV
          echo "PASSWORD=${{ secrets.PASSWORD }}" >> $GITHUB_ENV
          echo "HOST=${{ secrets.HOST }}" >> $GITHUB_ENV
          echo "PORT=${{ secrets.PORT }}" >> $GITHUB_ENV
          echo "NAME=movies_db" >> $GITHUB_ENV

      - name: Test Database Connectivity
        run: |
          python movies_DB/manage.py check --database default
