name: Django App Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  django-lint-and-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11.4" 

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black
          pip install djangorestframework drf-spectacular

      - name: Check Code Formatting with Black
        run: |
          black . --check

      - name: Check Django Code with Flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Generate Swagger Schema with DRF-Spectacular
        run: |
          python manage.py spectacular --file schema.yml
          # Add any additional steps needed for your schema generation or validation
