name: Tests Runner

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11.4'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # add a step to configure the secret key
      - name: Set Django Secret Key
        run: |
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> $GITHUB_ENV


      # add a step to configure and decode the SSL certificate for the database
      - name: Decode SSL Certificate
        run: |
          mkdir -p certificates
          echo "${{ secrets.ca }}" | base64 -d > ./certificates/DigiCertGlobalRootCA.crt.pem
          echo "ca=./certificates/DigiCertGlobalRootCA.crt.pem" >> $GITHUB_ENV

      # add a step to configure the database connection string
      - name: Set Database Environment Variables
        run: |
          echo "USER=${{ secrets.USER }}" >> $GITHUB_ENV
          echo "PASSWORD=${{ secrets.PASSWORD }}" >> $GITHUB_ENV
          echo "HOST=${{ secrets.HOST }}" >> $GITHUB_ENV
          echo "PORT=${{ secrets.PORT }}" >> $GITHUB_ENV
          echo "NAME=movies_db" >> $GITHUB_ENV

      - name: Run Unit Tests
        run: |
          pytest tests/unit_tests
          

      - name: Run Black Box Tests
        run: |
          pytest tests/black_box

      - name: Run Integration Tests
        run: |
          pytest tests/integration_tests
